<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>PCR-Portal</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="home/css/bootstrap.min.css" >
    <!-- Icon -->
    <link rel="stylesheet" href="home/fonts/line-icons.css">
    <!-- Owl carousel -->
    <link rel="stylesheet" href="home/css/owl.carousel.min.css">
    <link rel="stylesheet" href="home/css/owl.theme.css">
    
    <!-- Animate -->
    <link rel="stylesheet" href="home/css/animate.css">
    <!-- Main Style -->
    <link rel="stylesheet" href="home/css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" href="home/css/responsive.css">

  </head>
  <body>

    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a href="/" class="navbar-brand"><img data-lazysrc="media/logos/logo-blue.png" alt=""></a>       
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="lni-menu"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix">
              
              <li class="nav-item">
                <a class="nav-link" href="#services">
                  Packages
                </a>
              </li>

              <!-- <li class="nav-item">
                <a class="nav-link" href="#pricing">
                  Pricing
                </a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="#contact">
                  Contact
                </a>
              </li>
              <li class="nav-item">
                <a class="" href="/login">
                  <button class="btn btn-primary">
                    Login
                  </button>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Navbar End -->

      <!-- Hero Area Start -->
      <div id="hero-area" class="hero-area-bg">
        <div class="container">      
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 d-lg-flex">
              <div class="contents">
                <h2 class="head-title">247 Medical Services <br>Same Day PCR</h2>
                <p>247 Medical Services is a leading and innovative medical facilitation company with a high-performance track record of experience and excellence in the healthcare assistance industry which allows individuals to complete their PCR application in a responsive, efficient and timely manner. We process and provide support to individuals or groups to achieve beneficial change. We support active ingredient that aligns the proposed innovation or improvement to the individuals.

</p>
                <div class="header-button">
                  <a href="https://amer247.com/pcr-form/" target="_blank" class="btn btn-common">Apply Now</i></a>
                  <a href="/learn-more" target="_blank" class="btn btn-border video-popup">Learn More</i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
              <div class="intro-img">
                <img class="img-fluid" src="home/img/flight.png" alt="">
              </div>            
            </div>
          </div> 
        </div> 
      </div>
      <!-- Hero Area End -->

    </header>
    <!-- Header Area wrapper End -->

    <!-- Services Section Start -->
    <section id="services" class="section-padding">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Packages we provide</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.3s">
              <div class="icon">
                <i class="lni-rocket"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Hostpital/Clinic PCR testing-Basic</a></h3>
                <p>Test is released within 24-48 hours.</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.6s">
              <div class="icon">
                <i class="lni-rocket"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Hostpital/Clinic PCR testing-Urgent</a></h3>
                <p>Test is released within 12 hours.</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.9s">
              <div class="icon">
                <i class="lni-rocket"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Hostpital/Clinic PCR testing-Express</a></h3>
                <p>Test is released within 3-5 hours. </p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.5s">
              <div class="icon">
                <i class="lni-rocket"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Home/Hotel PCR testing-Basic</a></h3>
                <p>Test is released within 24-48 hours. </p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.5s">
              <div class="icon">
                <i class="lni-rocket"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Home/Hotel PCR testing-Urgent</a></h3>
                <p>Test is released within 12 hours </p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.5s">
              <div class="icon">
                <i class="lni-rocket"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Home/Hotel PCR testing-Express</a></h3>
                <p> Test is released within 3-5 hours.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xs-12 m-auto">
            <div class="services-item wow fadeInRight" data-wow-delay="0.5s">
              <div class="icon">
                <i class="lni-rocket"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Home PCR Test + IV Drip-Basic</a></h3>
                <p>Test is released within 24-48 hours.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Services Section End -->

    <!-- About Section start -->
    <div class="about-area section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-xs-12 info">
            <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
              <div>
                <div class="site-heading">
                  <h2 class="section-title">About us</h2>
                </div>
                <div class="content">
                  <p>
                    247 Medical Services is a leading and innovative medical facilitation company with a high-performance track record of experience and excellence in the
healthcare assistance industry which allows individuals to complete their PCR application in a responsive, efficient and timely manner. We process and
provide support to individuals or groups to achieve beneficial change. We support active ingredient that aligns the proposed innovation or
improvement to the individuals.
                  </p>
                  <a href="#" class="btn btn-common mt-3">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
            <img class="img-fluid" src="home/img/swab-girl.gif" alt="" >
          </div>
        </div>
      </div>
    </div>
    <!-- About Section End -->


    <!-- Centers Section start -->
        <section id="services" class="section-padding">
          <div class="container">
            <div class="section-header text-center">
              <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">List of centers</h2>
              <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
            </div>
            <div class="row">
              <!-- Services item -->
              <div class="col-md-12 col-lg-12 col-xs-12">
                <div class="wow fadeInRight" data-wow-delay="0.3s">
                  <div class="centers-content ">
                    <div class="row">
                      <div class="col-lg-8 col-md-12 m-auto">
                        <div class="row border-bottom pt-3 pb-3">
                            <div class=" col-lg-4  d-flex align-items-center justify-content-start">
                              247 Medical Services - Fujariah
                            </div>
                            <div class="col-lg-8  d-flex align-items-center justify-content-start">
                              <a href="https://www.google.ae/maps/place/Thumbay+Hospital+Dubai+-+13th+Street,+Near+Stadium+Metro+Station,+Behind+Lulu+Hypermarket,+Al+Qusais+-+Dubai/@25.3058114,55.4023729,12z/data=!4m5!1m2!2m1!1sthumbay+hospital+dubai!3m1!1s0x3e5f5c5dec126461:0xf6546ea556878bed" target="_blank" class="btn btn-sm btn-clean btn-icon pl-0" title="Maps">						<span class="svg-icon svg-icon-primary svg-icon-2x">							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">    						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">        						<rect x="0" y="0" width="24" height="24"></rect>        						<path d="M5,10.5 C5,6 8,3 12.5,3 C17,3 20,6.75 20,10.5 C20,12.8325623 17.8236613,16.03566 13.470984,20.1092932 C12.9154018,20.6292577 12.0585054,20.6508331 11.4774555,20.1594925 C7.15915182,16.5078313 5,13.2880005 5,10.5 Z M12.5,12 C13.8807119,12 15,10.8807119 15,9.5 C15,8.11928813 13.8807119,7 12.5,7 C11.1192881,7 10,8.11928813 10,9.5 C10,10.8807119 11.1192881,12 12.5,12 Z" fill="#000000" fill-rule="nonzero"></path>    								</g></svg><!--end::Svg Icon--></span></a>
                              Next to Fujairah Football Stadium, Fujairah		
                            </div>
                        </div>
                        <div class="row border-bottom pt-3 pb-3">
                          <div class=" col-lg-4  d-flex align-items-center justify-content-start">
                            247 Medical Services - Al Qusais
                          </div>
                          <div class="col-lg-8  d-flex align-items-center justify-content-start">
                            <a href="https://www.google.ae/maps/place/Thumbay+Hospital+Dubai+-+13th+Street,+Near+Stadium+Metro+Station,+Behind+Lulu+Hypermarket,+Al+Qusais+-+Dubai/@25.3058114,55.4023729,12z/data=!4m5!1m2!2m1!1sthumbay+hospital+dubai!3m1!1s0x3e5f5c5dec126461:0xf6546ea556878bed" target="_blank" class="btn btn-sm btn-clean btn-icon pl-0" title="Maps">						<span class="svg-icon svg-icon-primary svg-icon-2x">							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">    						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">        						<rect x="0" y="0" width="24" height="24"></rect>        						<path d="M5,10.5 C5,6 8,3 12.5,3 C17,3 20,6.75 20,10.5 C20,12.8325623 17.8236613,16.03566 13.470984,20.1092932 C12.9154018,20.6292577 12.0585054,20.6508331 11.4774555,20.1594925 C7.15915182,16.5078313 5,13.2880005 5,10.5 Z M12.5,12 C13.8807119,12 15,10.8807119 15,9.5 C15,8.11928813 13.8807119,7 12.5,7 C11.1192881,7 10,8.11928813 10,9.5 C10,10.8807119 11.1192881,12 12.5,12 Z" fill="#000000" fill-rule="nonzero"></path>    								</g></svg><!--end::Svg Icon--></span></a>
                            Al Qusais, Near Stadium Metro Station	
                          </div>
                        </div>
                        <div class="row border-bottom pt-3 pb-3">
                          <div class=" col-lg-4  d-flex align-items-center justify-content-start">
                            247 Medical Services - Ajman
                          </div>
                          <div class="col-lg-8  d-flex align-items-center justify-content-start">
                            <a href="https://www.google.com/maps/place/25%C2%B025'00.6%22N+55%C2%B030'03.2%22E/@25.4168377,55.4986925,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d25.4168377!4d55.5008812?hl=en" target="_blank" class="btn btn-sm btn-clean btn-icon pl-0" title="Maps">						<span class="svg-icon svg-icon-primary svg-icon-2x">							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">    						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">        						<rect x="0" y="0" width="24" height="24"></rect>        						<path d="M5,10.5 C5,6 8,3 12.5,3 C17,3 20,6.75 20,10.5 C20,12.8325623 17.8236613,16.03566 13.470984,20.1092932 C12.9154018,20.6292577 12.0585054,20.6508331 11.4774555,20.1594925 C7.15915182,16.5078313 5,13.2880005 5,10.5 Z M12.5,12 C13.8807119,12 15,10.8807119 15,9.5 C15,8.11928813 13.8807119,7 12.5,7 C11.1192881,7 10,8.11928813 10,9.5 C10,10.8807119 11.1192881,12 12.5,12 Z" fill="#000000" fill-rule="nonzero"></path>    								</g></svg><!--end::Svg Icon--></span></a>
                            Sheikh Jaber Al Sabah Street, Al Nuaimiyah 1
                          </div>
                        </div>
                        <div class="row border-bottom pt-3 pb-3">
                          <div class=" col-lg-4  d-flex align-items-center justify-content-start">
                            247 Medical Services -  Ras Al Khor
                          </div>
                          <div class="col-lg-8  d-flex align-items-center justify-content-start">
                            <a href="https://maps.app.goo.gl/jYok3UkfJgyMTyzm9" target="_blank" class="btn btn-sm btn-clean btn-icon pl-0" title="Maps">						<span class="svg-icon svg-icon-primary svg-icon-2x">							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">    						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">        						<rect x="0" y="0" width="24" height="24"></rect>        						<path d="M5,10.5 C5,6 8,3 12.5,3 C17,3 20,6.75 20,10.5 C20,12.8325623 17.8236613,16.03566 13.470984,20.1092932 C12.9154018,20.6292577 12.0585054,20.6508331 11.4774555,20.1594925 C7.15915182,16.5078313 5,13.2880005 5,10.5 Z M12.5,12 C13.8807119,12 15,10.8807119 15,9.5 C15,8.11928813 13.8807119,7 12.5,7 C11.1192881,7 10,8.11928813 10,9.5 C10,10.8807119 11.1192881,12 12.5,12 Z" fill="#000000" fill-rule="nonzero"></path>    								</g></svg><!--end::Svg Icon--></span></a>
                            Thumbay Clinic Ras Al Khor, Next To Marhaba Mall, Ras Al Khor		
                          </div>
                        </div>
                        <div class="row border-bottom pt-3 pb-3">
                          <div class=" col-lg-4  d-flex align-items-center justify-content-start">
                            247 Medical Services - Muteena
                          </div>
                          <div class="col-lg-8  d-flex align-items-center justify-content-start">
                            <a href="https://maps.app.goo.gl/3csV7sZGRywzjDkz7" target="_blank" class="btn btn-sm btn-clean btn-icon pl-0" title="Maps">						<span class="svg-icon svg-icon-primary svg-icon-2x">							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">    						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">        						<rect x="0" y="0" width="24" height="24"></rect>        						<path d="M5,10.5 C5,6 8,3 12.5,3 C17,3 20,6.75 20,10.5 C20,12.8325623 17.8236613,16.03566 13.470984,20.1092932 C12.9154018,20.6292577 12.0585054,20.6508331 11.4774555,20.1594925 C7.15915182,16.5078313 5,13.2880005 5,10.5 Z M12.5,12 C13.8807119,12 15,10.8807119 15,9.5 C15,8.11928813 13.8807119,7 12.5,7 C11.1192881,7 10,8.11928813 10,9.5 C10,10.8807119 11.1192881,12 12.5,12 Z" fill="#000000" fill-rule="nonzero"></path>    								</g></svg><!--end::Svg Icon--></span></a>
                            Thumbay Clinic, Ground Floor, Al Muteena Street	                         
                           </div>
                        </div>
                        <div class="row border-bottom pt-3 pb-3">
                          <div class=" col-lg-4  d-flex align-items-center justify-content-start">
                            247 Medical Services - Sharjah
                          </div>
                          <div class="col-lg-8  d-flex align-items-center justify-content-start">
                            <a href="https://goo.gl/maps/hnHNpMaLbs6Ayr3L6" target="_blank" class="btn btn-sm btn-clean btn-icon pl-0" title="Maps">						<span class="svg-icon svg-icon-primary svg-icon-2x">							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">    						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">        						<rect x="0" y="0" width="24" height="24"></rect>        						<path d="M5,10.5 C5,6 8,3 12.5,3 C17,3 20,6.75 20,10.5 C20,12.8325623 17.8236613,16.03566 13.470984,20.1092932 C12.9154018,20.6292577 12.0585054,20.6508331 11.4774555,20.1594925 C7.15915182,16.5078313 5,13.2880005 5,10.5 Z M12.5,12 C13.8807119,12 15,10.8807119 15,9.5 C15,8.11928813 13.8807119,7 12.5,7 C11.1192881,7 10,8.11928813 10,9.5 C10,10.8807119 11.1192881,12 12.5,12 Z" fill="#000000" fill-rule="nonzero"></path>    								</g></svg><!--end::Svg Icon--></span></a>
                            University City Road, Muweila Sharjah		
                          </div>
                        </div>
                        <div class="row border-bottom pt-3 pb-3">
                          <div class=" col-lg-4  d-flex align-items-center justify-content-start">
                            247 Medical Services - Al Arouba
                          </div>
                          <div class="col-lg-8  d-flex align-items-center justify-content-start">
                            <a href="https://g.page/daycarerolla?share" target="_blank" class="btn btn-sm btn-clean btn-icon pl-0" title="Maps">						<span class="svg-icon svg-icon-primary svg-icon-2x">							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">    						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">        						<rect x="0" y="0" width="24" height="24"></rect>        						<path d="M5,10.5 C5,6 8,3 12.5,3 C17,3 20,6.75 20,10.5 C20,12.8325623 17.8236613,16.03566 13.470984,20.1092932 C12.9154018,20.6292577 12.0585054,20.6508331 11.4774555,20.1594925 C7.15915182,16.5078313 5,13.2880005 5,10.5 Z M12.5,12 C13.8807119,12 15,10.8807119 15,9.5 C15,8.11928813 13.8807119,7 12.5,7 C11.1192881,7 10,8.11928813 10,9.5 C10,10.8807119 11.1192881,12 12.5,12 Z" fill="#000000" fill-rule="nonzero"></path>    								</g></svg><!--end::Svg Icon--></span></a>
                            Al Arouba St - Al GharbAl Ghuwair – Sharjah		
                          </div>
                        </div>
                        <div class="row border-bottom pt-3 pb-3">
                          <div class=" col-lg-4  d-flex align-items-center justify-content-start">
                            247 Medical Services - AL JURF
                          </div>
                          <div class="col-lg-8  d-flex align-items-center justify-content-start">
                            <a href="https://www.google.com/maps/place/25%C2%B025'00.6%22N+55%C2%B030'03.2%22E/@25.4168377,55.4986925,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d25.4168377!4d55.5008812?hl=en" target="_blank" class="btn btn-sm btn-clean btn-icon pl-0" title="Maps">						<span class="svg-icon svg-icon-primary svg-icon-2x">							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">    						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">        						<rect x="0" y="0" width="24" height="24"></rect>        						<path d="M5,10.5 C5,6 8,3 12.5,3 C17,3 20,6.75 20,10.5 C20,12.8325623 17.8236613,16.03566 13.470984,20.1092932 C12.9154018,20.6292577 12.0585054,20.6508331 11.4774555,20.1594925 C7.15915182,16.5078313 5,13.2880005 5,10.5 Z M12.5,12 C13.8807119,12 15,10.8807119 15,9.5 C15,8.11928813 13.8807119,7 12.5,7 C11.1192881,7 10,8.11928813 10,9.5 C10,10.8807119 11.1192881,12 12.5,12 Z" fill="#000000" fill-rule="nonzero"></path>    								</g></svg><!--end::Svg Icon--></span></a>
                            AL JURF - 1 Rashid Al-Khadar St - Al Jerf 1 - Ajman		
                          </div>
                        </div>
                      </div>

                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
  
    <!-- Centers Section End -->


    <!-- Pricing section Start  -->
    <!-- <section id="pricing" class="section-padding">
      <div class="container">
        <div class="section-header text-center">          
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Pricing</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="table wow fadeInLeft" data-wow-delay="0.5s">
              <div class="icon-box">
                <i class="lni-package"></i>
              </div>
              <div class="pricing-header">
                <p class="price-value">$10<span> /mo</span></p>
              </div>
              <div class="title">
                <h3>Pro</h3>
              </div>
              <ul class="description">
                <li>1 user</li>
                <li>10 GB storage</li>
                <li>Email support</li>
                <li>Lifetime updates</li>
              </ul>
              <button class="btn btn-common">Buy Now</button>
            </div> 
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 active">
            <div class="table wow fadeInUp" id="active-tb" data-wow-delay="0.5s">
              <div class="icon-box">
                <i class="lni-drop"></i>
              </div>
              <div class="pricing-header">
                <p class="price-value">$35<span> /mo</span></p>
              </div>
              <div class="title">
                <h3>Plus</h3>
              </div>
              <ul class="description">
                <li>10 user</li>
                <li>30 GB storage</li>
                <li>Priority email support</li>
                <li>Lifetime updates</li>
              </ul>
              <button class="btn btn-common">Buy Now</button>
           </div> 
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="table wow fadeInRight" data-wow-delay="0.5s">
              <div class="icon-box">
                <i class="lni-star"></i>
              </div>
              <div class="pricing-header">
                <p class="price-value">$150<span> /mo</span></p>
              </div>
              <div class="title">
                <h3>Premium</h3>
              </div>
              <ul class="description">
                <li>Unlimited users</li>
                <li>Unlimited storage</li>
                <li>24/7 support</li>
                <li>Lifetime updates</li>
              </ul>
              <button class="btn btn-common">Buy Now</button>
            </div> 
          </div>
        </div>
      </div>
    </section> -->
    <!-- Pricing Table Section End -->
  


    <!-- Contact Section Start -->
    <section id="contact" class="section-padding bg-gray">    
      <div class="container">
        <div class="section-header text-center">          
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Contact Us</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.3s">   
          <div class="col-lg-7 col-md-12 col-sm-12">
            <div class="contact-block">
              <form id="contactForm">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" id="name" name="name" placeholder="Name" required data-error="Please enter your name">
                      <div class="help-block with-errors"></div>
                    </div>                                 
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" placeholder="Email" id="email" class="form-control" name="email" required data-error="Please enter your email">
                      <div class="help-block with-errors"></div>
                    </div> 
                  </div>
                   <div class="col-md-12">
                    <div class="form-group">
                      <input type="text" placeholder="Subject" id="msg_subject" class="form-control" required data-error="Please enter your subject">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group"> 
                      <textarea class="form-control" id="message" placeholder="Your Message" rows="7" data-error="Write your message" required></textarea>
                      <div class="help-block with-errors"></div>
                    </div>
                    <div class="submit-button text-left">
                      <button class="btn btn-common" id="form-submit" type="submit">Send Message</button>
                      <div id="msgSubmit" class="h3 text-center hidden"></div> 
                      <div class="clearfix"></div> 
                    </div>
                  </div>
                </div>            
              </form>
            </div>
          </div>
          <div class="col-lg-5 col-md-12 col-xs-12">
            <div class="map">
              <object style="border:0; height: 280px; width: 100%;" data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d901.9989475021334!2d55.33380577759961!3d25.27072706213985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjXCsDE2JzEzLjQiTiA1NcKwMjAnMDUuMCJF!5e0!3m2!1sen!2sin!4v1615874917157!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>"></object>
            </div>
          </div>
        </div>
      </div> 
    </section>
    <!-- Contact Section End -->

    <!-- Footer Section Start -->
    <footer id="footer" class="footer-area section-padding">
      <div class="container">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="footer-logo"><img data-lazysrc="media/logos/logo-blue.png" alt=""></h3>
                <div class="textwidget">
                  <p>247 Medical Services is a leading and innovative medical facilitation company with a high-performance track record of experience and excellence in the healthcare assistance industry.</p>
                </div>
                <div class="social-icon">
                  <a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
                  <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
                  <a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
                  <a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Product</h3>
              <ul class="footer-link">
                <li><a href="#">Tracking</a></li>
                <li><a href="#">Application</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Resources</h3>
              <ul class="footer-link">
                <li><a href="#">Payment Options</a></li>
                <li><a href="#">Fee Schedule</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Contact</h3>
              <ul class="address">
                <li>
                  <a href="#"><i class="lni-map-marker"></i> 17 A Street - <br> Al Khabaisi (Behind Abu Baker Al Siddique Metro Station ) –<br> Deira – Dubai, UAE-81143</a>
                </li>
                <li>
                  <a href="tel:+97142300500"><i class="lni-phone-handset"></i> P: +97142300500</a>
                </li>
                <li>
                  <a href="#"><i class="lni-envelope"></i> E: info@247medicalservices.com</a>
                </li>
              </ul>
            </div>
          </div>
        </div>  
      </div> 
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="copyright-content text-center">
                We accept <br> <img src="home/img/visa.png" style="width:300px; height: auto!important;">
                <p>Copyright © 2020 <a rel="nofollow" href="https://247medicalservices.com">247medicalservices.com</a> All Right Reserved</p>
              </div>
            </div>
          </div>
        </div>
      </div>   
    </footer> 
    <!-- Footer Section End -->

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
    	<i class="lni-arrow-up"></i>
    </a>
    

    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="home/js/jquery-min.js"></script>
    <script src="home/js/popper.min.js"></script>
    <script src="home/js/bootstrap.min.js"></script>
    <script src="home/js/owl.carousel.min.js"></script>
    <script src="home/js/wow.js"></script>
    <script src="home/js/jquery.nav.js"></script>
    <script src="home/js/scrolling-nav.js"></script>
    <script src="home/js/jquery.easing.min.js"></script>  
    <script src="home/js/main.js"></script>
    <script src="home/js/form-validator.min.js"></script>
    <script src="home/js/contact-form-script.min.js"></script>
      
  </body>
</html>
