<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>PCR-Portal</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="home/css/bootstrap.min.css" >
    <!-- Icon -->
    <link rel="stylesheet" href="home/fonts/line-icons.css">
    <!-- Owl carousel -->
    <link rel="stylesheet" href="home/css/owl.carousel.min.css">
    <link rel="stylesheet" href="home/css/owl.theme.css">
    
    <!-- Animate -->
    <link rel="stylesheet" href="home/css/animate.css">
    <!-- Main Style -->
    <link rel="stylesheet" href="home/css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" href="home/css/responsive.css">

  </head>
  <body>

    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a href="/" class="navbar-brand"><img data-lazysrc="media/logos/logo-blue.png" alt=""></a>       
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="lni-menu"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix">
              
              <li class="nav-item">
                <a class="nav-link" href="#services">
                  Packages
                </a>
              </li>

              <!-- <li class="nav-item">
                <a class="nav-link" href="#pricing">
                  Pricing
                </a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="#contact">
                  Contact
                </a>
              </li>
              <li class="nav-item">
                <a class="" href="/login">
                  <button class="btn btn-primary">
                    Login
                  </button>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Navbar End -->


    </header>
    <!-- Header Area wrapper End -->


    <!-- About Section start -->
    <div class="about-area section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-xs-12 info m-auto">
            <div class="about-wrapper wow fadeInTop mb-4" data-wow-delay="0.3s">
              <div>
                <div class="site-heading text-center">
                  <h2 class="section-title text-center" >About us</h2>
                </div>
                <div class="content text-center">
                  <p>
                    247 Medical Services is a leading and innovative medical facilitation company with a high-performance track record of experience and excellence in the
healthcare assistance industry which allows individuals to complete their PCR application in a responsive, efficient and timely manner. We process and
provide support to individuals or groups to achieve beneficial change. We support active ingredient that aligns the proposed innovation or
improvement to the individuals.
                  </p>
                </div>
              </div>
            </div>
    
              <div class="about-wrapper wow fadeInTop mb-4" data-wow-delay="0.3s">
                <div>
                  <div class="site-heading text-center">
                    <h2 class="section-title text-center" style="font-size:18px;">OUR GOAL</h2>
                  </div>
                  <div class="content text-center">
                    <p>
                        To be a globally preferred medical facilitation care partner for our clients by
                        creating value through innovative medical solutions and to ensure all voices
                        are allowed to be heard will provide the opportunity for input is essential to
                        a facilitative approach and to gaining their needed for successful
                        implementation across the organization.
                    </p>
                  </div>
                </div>
              </div>
              <div class="about-wrapper wow fadeInTop mb-4" data-wow-delay="0.3s">
                <div>
                  <div class="site-heading text-center">
                    <h2 class="section-title text-center" style="font-size:18px;">OUR PURPOSE </h2>
                  </div>
                  <div class="content text-center">
                    <p>
                        Facilitation of PCR tests through partner labs, we strive for high proficiency by developing competence
                        in all aspects of our work through personal and professional training. We seek
                        knowledge. Safety We maintain an environment that minimizes danger, risk, or
                        injury.
                    </p>
                  </div>
                </div>
              </div>
              <div class="about-wrapper wow fadeInTop mb-4" data-wow-delay="0.3s">
                <div>
                  <div class="site-heading text-center">
                    <h2 class="section-title text-center" style="font-size:18px;">CORE VALUES </h2>
                  </div>
                  <div class="content text-center">
                    <p>
                        We act and shape the essence of our company’s culture with our strong principles and
            core values. We’re dedicated to doing everything we can to help our clients be
            a success by working harder and smarter than our competitors.
                    </p>
                  </div>
                </div>
              </div>
              <div class="about-wrapper wow fadeInTop mb-4" data-wow-delay="0.3s">
                <div>
                  <div class="site-heading text-center">
                    <h2 class="section-title text-center" style="font-size:18px;">Our Objective </h2>
                  </div>
                  <div class="content text-center">
                    <p>
                        We aim to ensure all voices are allowed to be heard will provide the opportunity for input is essential to a facilitative approach and to gaining their
needed for successful implementation across the organization.
                       <br><br> <i>We Care About Your Valuable Time
                            We Care About Your Satisfaction
                            We Put All Our Effort and Experience To give you satisfaction</i>
                    </p>
                  </div>
                </div>
              </div>
          </div>
     
        </div>
      </div>
    </div>
    <!-- About Section End -->


    <!-- Footer Section Start -->
    <footer id="footer" class="footer-area section-padding">
      <div class="container">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="footer-logo"><img data-lazysrc="media/logos/logo-blue.png" alt=""></h3>
                <div class="textwidget">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis tincidunt est, et euismod purus suscipit quis.</p>
                </div>
                <div class="social-icon">
                  <a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
                  <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
                  <a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
                  <a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Product</h3>
              <ul class="footer-link">
                <li><a href="#">Tracking</a></li>
                <li><a href="#">Application</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Resources</h3>
              <ul class="footer-link">
                <li><a href="#">Payment Options</a></li>
                <li><a href="#">Fee Schedule</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Contact</h3>
              <ul class="address">
                <li>
                  <a href="#"><i class="lni-map-marker"></i> 17 A Street - <br> Al Khabaisi (Behind Abu Baker Al Siddique Metro Station ) –<br> Deira – Dubai, UAE-81143</a>
                </li>
                <li>
                  <a href="tel:+97142300500"><i class="lni-phone-handset"></i> P: +97142300500</a>
                </li>
                <li>
                  <a href="#"><i class="lni-envelope"></i> E: info@247medicalservices.com</a>
                </li>
              </ul>
            </div>
          </div>
        </div>  
      </div> 
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="copyright-content">
                <p>Copyright © 2020 <a rel="nofollow" href="https://247medicalservices.com">247medicalservices.com</a> All Right Reserved
                  <br>
                  We accept <img src="home/img/visa.png" style="width:100px; height: auto!important;"></p>
              </div>
            </div>
          </div>
        </div>
      </div>   
    </footer> 
    <!-- Footer Section End -->

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
    	<i class="lni-arrow-up"></i>
    </a>
    

    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="home/js/jquery-min.js"></script>
    <script src="home/js/popper.min.js"></script>
    <script src="home/js/bootstrap.min.js"></script>
    <script src="home/js/owl.carousel.min.js"></script>
    <script src="home/js/wow.js"></script>
    <script src="home/js/jquery.nav.js"></script>
    <script src="home/js/scrolling-nav.js"></script>
    <script src="home/js/jquery.easing.min.js"></script>  
    <script src="home/js/main.js"></script>
    <script src="home/js/form-validator.min.js"></script>
    <script src="home/js/contact-form-script.min.js"></script>
      
  </body>
</html>
