
<!DOCTYPE html>

<html lang="en">
	<%# begin::Head %>
	<head><base href="../../../">
		<meta charset="utf-8" />
		<title>PCR Dashboard</title>
		<meta name="description" content="PCR Dashboard" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<%# begin::Fonts %>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<%# end::Fonts %>
		<%# begin::Page Vendors Styles(used by this page) %>
		<link href="plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
		<%# end::Page Vendors Styles %>
		<%# begin::Global Theme Styles(used by all pages) %>
		<link href="plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
		

		<link href="css/style.bundle.min.css" rel="stylesheet" type="text/css" />
		<%# end::Global Theme Styles %>
		<%# begin::Layout Themes(used by all pages) %>
		<%# end::Layout Themes %>
		<link rel="shortcut icon" href="media/logos/favicon.ico" />
	</head>
	<%# end::Head %>
	<%# begin::Body %>
	<body id="kt_body" class="header-mobile-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">
		<%# begin::Main %>
        <div class="container">
            <div class="row mt-10">
                <div class="col-6">
                	<a href="/" >
					    <img data-lazysrc="media/logos/logo-blue.png" alt="logo" class="h-60px" />
				    </a>
                </div>
                <div class="col-6 text-right"><a href="/login"><button type="button" class="btn btn-primary  font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Log In</button></a></div> 
                <div class="col-12 ">
                    <h1 class="mb-8 mt-5 text-center">Refund Policy</h1>
                    <h3>Last updated January 27, 2021</h3>
                    <p >Thank you for using our services. We hope you are happy by using our services. However, if you are not completely satisfied with us for any reason, you may ask a refund. Please see below for more information on our refund policy.</p>
                    <p ><span class="s1">Any purchase, dispute or claim arising out of or in connection with this website shall be governed and construed in accordance with the laws of UAE</span></p>
                    <p >&nbsp;</p>
                    <h3>Notifications</h3>
                    <p >All notification must be postmarked within seven (7) days of the payment date.</p>
                    <p >Refund charges will be paid or reimbursed by us.</p>
                    <p >&nbsp;</p>
                    <h3>Refunds</h3>
                    <p >After receiving your return and inspecting the condition of your item, we will process your return. Please allow at least seven (7) days from the receipt of your item to process your return. Refunds may take 1-2 billing cycles to appear on your credit card statement, depending on your credit card company. We will notify you by email when your return has been processed.</p>
                    <p >&nbsp;</p>
                    <h3>Exceptions</h3>
                    <p >For any other reason, please contact us at the customer service number below to arrange a refund.</p>
                    <p >&nbsp;</p>
                    <h3>Questions</h3>
                    <p >If you have any questions concerning our return policy, please contact us at:<br>+971 4 2300500<br>info@247medservices.com</p>
                    <p >&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
            <!--begin::Container-->
            <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
                <!--begin::Copyright-->
                <div class="text-dark order-2 order-md-1">
                    <span class="text-muted font-weight-bold mr-2">2021©</span>
                    <a href="/" target="_blank" class="text-dark-75 text-hover-primary">247medservices.com</a>
                </div>
                <!--end::Copyright-->
                <!--begin::Nav-->
                <div class="nav nav-dark order-1 order-md-2 font-weight-bold">
                   <a href="/terms" target="_blank" class="nav-link px-3">Terms</a>
                    <a href="/privacy-policy" target="_blank" class="nav-link px-3">Privacy Policy</a>
                    <a href="/refund-policy" target="_blank" class="nav-link px-3">Refund Policy</a>
                    <a href="mailto:info@247medservices.com" target="_blank" class="nav-link pl-3 pr-0">Contact Us</a>
                </div>
                <!--end::Nav-->
            </div>
            <!--end::Container-->
        </div>
		<%# end::Demo Panel %>
		<script>var HOST_URL = "";</script>
		<%# begin::Global Config(global config for global JS scripts) %>
		<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#3699FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#6993FF", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#E1F0FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#E1E9FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#FFFFFF", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
		<%# end::Global Config %>
		<%# begin::Global Theme Bundle(used by all pages) %>
		<script src="plugins/global/plugins.bundle.js"></script>
		<script src="js/scripts.bundle.js"></script>
		<%# end::Global Theme Bundle %>

		<%# end::Page Vendors %>
		<%# begin::Page Scripts(used by this page) %>
		<%# end::Page Scripts %>
	</body>
	<%# end::Body %>
</html>