
<!DOCTYPE html>

<html lang="en">
	<%# begin::Head %>
	<head><base href="../../../">
		<meta charset="utf-8" />
		<title>PCR Dashboard</title>
		<meta name="description" content="PCR Dashboard" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<%# begin::Fonts %>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<%# end::Fonts %>
		<%# begin::Page Vendors Styles(used by this page) %>
		<link href="plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
		<%# end::Page Vendors Styles %>
		<%# begin::Global Theme Styles(used by all pages) %>
		<link href="plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
		

		<link href="css/style.bundle.min.css" rel="stylesheet" type="text/css" />
		<%# end::Global Theme Styles %>
		<%# begin::Layout Themes(used by all pages) %>
		<%# end::Layout Themes %>
		<link rel="shortcut icon" href="media/logos/favicon.ico" />
	</head>
	<%# end::Head %>
	<%# begin::Body %>
	<body id="kt_body" class="header-mobile-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">
		<%# begin::Main %>
        <div class="container">
            <div class="row mt-10">
                <div class="col-6">
                	<a href="/" >
					    <img data-lazysrc="media/logos/logo-blue.png" alt="logo" class="h-60px" />
				    </a>
                </div>
                <div class="col-6 text-right"><a href="/login"><button type="button" class="btn btn-primary  font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Log In</button></a></div> 
                <div class="col-12 ">
                    <h1 class="mb-8 mt-5 text-center">Terms &amp; Conditions</h1>
                    <p >Welcome to 247medservices.com!</p>
                    <p >These terms and conditions outline the rules and regulations for the use of 24 SEVEN MEDICAL TREATMENT FACILITATION SERVICES Website, located at <a href="https://www.247medservices.com">https://www.247medservices.com</a>.</p>
                    <p >By accessing this website, we assume you accept these terms and conditions. Do not continue to use 247medservices.com if you do not agree to take all of the terms and conditions stated on this page.</p>
                    <p >The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: &ldquo;Client&rdquo;, &ldquo;You&rdquo; and &ldquo;Your&rdquo; refers to you, the person log on this website and compliant to the Company&rsquo;s terms and conditions. &ldquo;The Company&rdquo;, &ldquo;Ourselves&rdquo;, &ldquo;We&rdquo;, &ldquo;Our&rdquo; and &ldquo;Us&rdquo;, refers to our Company. &ldquo;Party&rdquo;, &ldquo;Parties&rdquo;, or &ldquo;Us&rdquo;, refers to both the Client and ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client&rsquo;s needs in respect of provision of the Company&rsquo;s stated services, in accordance with and subject to, prevailing law of Netherlands. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p>
                    <h3>Cookies</h3>
                    <p >We employ the use of cookies. By accessing 247medservices.com you agreed to use cookies in agreement with the of 24 SEVEN MEDICAL TREATMENT FACILITATION SERVICES Privacy Policy.</p>
                    <p >Most interactive websites use cookies to let us retrieve the user&rsquo;s details for each visit. Cookies are used by our website to enable the functionality of certain areas to make it easier for people visiting our website. Some of our affiliate/advertising partners may also use cookies.</p>
                    <h3>License</h3>
                    <p >Unless otherwise stated, of 24 SEVEN MEDICAL TREATMENT FACILITATION SERVICES and/or its licensors own the intellectual property rights for all material on 247medservices.com. All intellectual property rights are reserved. You may access this from <a href="https://www.247medservices.com">https://www.247medservices.com</a> for your own personal use subjected to restrictions set in these terms and conditions.</p>
                    <p >You must not:</p>
                    <ul class="ul1">
                        <li class="li2">Republish material from <a href="https://www.247medservices.com">https://www.247medservices.com</a></li>
                        <li class="li2">Sell, rent or sub-license material from <a href="https://www.247medservices.com">https://www.247medservices.com</a></li>
                        <li class="li2">Reproduce, duplicate or copy material from <a href="https://www.247medservices.com">https://www.247medservices.com</a></li>
                        <li class="li2">Redistribute content from <a href="https://www.247medservices.com">https://www.247medservices.com</a></li>
                    </ul>
                    <p >This Agreement shall begin on the date hereof. Our Terms and Conditions were created with the help of the <a href="https://www.termsandconditionsgenerator.com/"><span class="s2">Terms And Conditions Generator</span></a> and the <a href="https://www.generateprivacypolicy.com/"><span class="s2">Privacy Policy Generator</span></a>.</p>
                    <p >Parts of this website offer an opportunity for users to post and exchange opinions and information in certain areas of the website. 24 SEVEN MEDICAL TREATMENT FACILITATION SERVICES does not filter, edit, publish or review Comments prior to their presence on the website. Comments do not reflect the views and opinions of 24 SEVEN MEDICAL TREATMENT FACILITATION SERVICES its agents and/or affiliates. Comments reflect the views and opinions of the person who post their views and opinions. To the extent permitted by applicable laws, 24 SEVEN MEDICAL TREATMENT FACILITATION SERVICES shall not be liable for the Comments or for any liability, damages or expenses caused and/or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this website.</p>
                    <p >24 SEVEN MEDICAL TREATMENT FACILITATION SERVICES reserves the right to monitor all Comments and to remove any Comments which can be considered inappropriate, offensive or causes breach of these Terms and Conditions.</p>
                    <p >You warrant and represent that:</p>
                    <ul class="ul1">
                        <li class="li2">You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;</li>
                        <li class="li2">The Comments do not invade any intellectual property right, including without limitation copyright, patent or trademark of any third party;</li>
                        <li class="li2">The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material which is an invasion of privacy</li>
                        <li class="li2">The Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful activity.</li>
                    </ul>
                    <p >You hereby grant 24 SEVEN MEDICAL TREATMENT FACILITATION SERVICES a non-exclusive license to use, reproduce, edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats or media.</p>
                    <h3>Hyperlinking to our Content</h3>
                    <p >The following organizations may link to our Website without prior written approval:</p>
                    <ul class="ul1">
                        <li class="li2">Government agencies;</li>
                        <li class="li2">Search engines;</li>
                        <li class="li2">News organizations;</li>
                        <li class="li2">Online directory distributors may link to our Website in the same manner as they hyperlink to the Websites of other listed businesses; and</li>
                        <li class="li2">System wide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising groups which may not hyperlink to our Web site.</li>
                    </ul>
                    <p >These organizations may link to our home page, to publications or to other Website information so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products and/or services; and (c) fits within the context of the linking party&rsquo;s site.</p>
                    <p >We may consider and approve other link requests from the following types of organizations:</p>
                    <ul class="ul1">
                        <li class="li2">commonly-known consumer and/or business information sources;</li>
                        <li class="li2">dot.com community sites;</li>
                        <li class="li2">associations or other groups representing charities;</li>
                        <li class="li2">online directory distributors;</li>
                        <li class="li2">internet portals;</li>
                        <li class="li2">accounting, law and consulting firms; and</li>
                        <li class="li2">educational institutions and trade associations.</li>
                    </ul>
                    <p >We will approve link requests from these organizations if we decide that: (a) the link would not make us look unfavorably to ourselves or to our accredited businesses; (b) the organization does not have any negative records with us; (c) the benefit to us from the visibility of the hyperlink compensates the absence of 24 SEVEN MEDICAL TREATMENT FACILITATION SERVICES; and (d) the link is in the context of general resource information.</p>
                    <p >These organizations may link to our home page so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products or services; and (c) fits within the context of the linking party&rsquo;s site.</p>
                    <p >If you are one of the organizations listed in paragraph 2 above and are interested in linking to our website, you must inform us by sending an e-mail to 24 SEVEN MEDICAL TREATMENT FACILITATION SERVICES. Please include your name, your organization name, contact information as well as the URL of your site, a list of any URLs from which you intend to link to our Website, and a list of the URLs on our site to which you would like to link. Wait 2-3 weeks for a response.</p>
                    <p >Approved organizations may hyperlink to our Website as follows:</p>
                    <ul class="ul1">
                        <li class="li2">By use of our corporate name; or</li>
                        <li class="li2">By use of the uniform resource locator being linked to; or</li>
                        <li class="li2">By use of any other description of our Website being linked to that makes sense within the context and format of content on the linking party&rsquo;s site.</li>
                    </ul>
                    <p >No use of 24 SEVEN MEDICAL TREATMENT FACILITATION SERVICES logo or other artwork will be allowed for linking absent a trademark license agreement.</p>
                    <h3>iFrames</h3>
                    <p >Without prior approval and written permission, you may not create frames around our Webpages that alter in any way the visual presentation or appearance of our Website.</p>
                    <h3>Content Liability</h3>
                    <p >We shall not be hold responsible for any content that appears on your Website. You agree to protect and defend us against all claims that is rising on your Website. No link(s) should appear on any Website that may be interpreted as libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any third-party rights.</p>
                    <h3>Reservation of Rights</h3>
                    <p >We reserve the right to request that you remove all links or any particular link to our Website. You approve to immediately remove all links to our Website upon request. We also reserve the right to amen these terms and conditions and it&rsquo;s linking policy at any time. By continuously linking to our Website, you agree to be bound to and follow these linking terms and conditions.</p>
                    <h3>Removal of links from our website</h3>
                    <p >If you find any link on our Website that is offensive for any reason, you are free to contact and inform us any moment. We will consider requests to remove links but we are not obligated to or so or to respond to you directly.</p>
                    <p >We do not ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we promise to ensure that the website remains available or that the material on the website is kept up to date.</p>
                    <h3>Disclaimer</h3>
                    <p >To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website. Nothing in this disclaimer will:</p>
                    <ul class="ul1">
                        <li class="li2">limit or exclude our or your liability for death or personal injury;</li>
                        <li class="li2">limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
                        <li class="li2">limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
                        <li class="li2">exclude any of our or your liabilities that may not be excluded under applicable law.</li>
                    </ul>
                    <p >The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer, including liabilities arising in contract, in tort and for breach of statutory duty.</p>
                    <p >As long as the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.</p>
                    <p >&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
            <!--begin::Container-->
            <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
                <!--begin::Copyright-->
                <div class="text-dark order-2 order-md-1">
                    <span class="text-muted font-weight-bold mr-2">2021©</span>
                    <a href="/" target="_blank" class="text-dark-75 text-hover-primary">247medservices.com</a>
                </div>
                <!--end::Copyright-->
                <!--begin::Nav-->
                <div class="nav nav-dark order-1 order-md-2 font-weight-bold">
                    <a href="/terms" target="_blank" class="nav-link px-3">Terms</a>
                    <a href="/privacy-policy" target="_blank" class="nav-link px-3">Privacy Policy</a>
                    <a href="/refund-policy" target="_blank" class="nav-link px-3">Refund Policy</a>
                    <a href="mailto:info@247medservices.com" target="_blank" class="nav-link pl-3 pr-0">Contact Us</a>
                </div>
                <!--end::Nav-->
            </div>
            <!--end::Container-->
        </div>
		<%# end::Demo Panel %>
		<script>var HOST_URL = "";</script>
		<%# begin::Global Config(global config for global JS scripts) %>
		<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#3699FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#6993FF", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#E1F0FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#E1E9FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#FFFFFF", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
		<%# end::Global Config %>
		<%# begin::Global Theme Bundle(used by all pages) %>
		<script src="plugins/global/plugins.bundle.js"></script>
		<script src="js/scripts.bundle.js"></script>
		<%# end::Global Theme Bundle %>

		<%# end::Page Vendors %>
		<%# begin::Page Scripts(used by this page) %>
		<%# end::Page Scripts %>
	</body>
	<%# end::Body %>
</html>